/*
CSS FOR THE WHOLE APPLICATION
*/

h1{
  font-family: 'Love Ya Like A Sister', cursive;

}

header, nav{
  background-color: #FFC75F;
}

.App{
  background-color: #FFC75F;

}

body
{
    background-position:center center;
    background-repeat:no-repeat;
    margin:auto;
    width:1024px;
    padding:10px;
    background-color:#ebebeb;
    font-size:14px;
    font-family:Verdana;
}

form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;

    /* This bit draws the box around it */
    btranslation:1px solid grey;

    /* I've used padding so you can see the edges of the elements. */
    padding:2px;
  }

  input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    btranslation:none;
  }

  input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
  }

  button {
    /* Just a little styling to make it pretty */
    btranslation:1px solid purple;
    background:purple;
    color:white !important;
  }
  .translationImages{
    background-color: white !important;
  }
  .btn{
    text-decoration: none;

  }
  

